@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0B0F19;
  --accent: #D4AF37;
}

html {
  scroll-behavior: smooth;
}
html, body {
  overflow-x: hidden;
}

/* hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}